@using Cinema.IVH7B4.WebUI.Models
@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel
@{
    ViewBag.Title = "Achteraf betalen";
}
<div class="text-center">
    <img class="img-responsive" style="margin: auto; display: block;" src="https://www.afterpay.nl/uploads/afbeeldingen/logo-share.jpg">
    <h3>@Resources.Global.Pay_AfterPayChosetoPay</h3>
    <h4>@Resources.Global.Pay_AfterPayOrder: @Model.GetCurrencyString(@Model.GetTotalPriceForAllTickets())</h4>
</div>
<div class="text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button class="payment" type="button" onclick="location.href = '@Url.Action("AfterPayCode", "Ticket")'">@Resources.Global.Pay_AfterPayConfirm</button>
    </div>
    <div class="col-md-4"></div>
</div>