@using Cinema.IVH7B4.WebUI.Models

@{
    ViewBag.Title = "FilmOverview";
}
<html>
<head>
    <link href="~/Content/FilmOverview.css" rel="stylesheet" />
    @Html.Partial("~/Views/Shared/_Menubar.cshtml")
</head>
<body>
        <div class="container">
            <div class="row" id="searchSection">
                <div class="col-xs-5">
                    <table id="searchTable">      
                            <form method="post" action="@Url.Action("searchFilm", "filmOverview")">
                                <tr>
                                    <td><label for="search">@Resources.Global.FilmOverView_Searchonmovie:</label></td>
                                    </tr>
                                <tr>
                                    <td><input type="text" name="searchFilm" /></td>
                                    <td><button type="submit" class="btn btn-success">@Resources.Global.FilmOverView_SearchButton</button></td>
                                </tr>
                            </form>
                        
                        </table>
                        <div id="errortext">
                            <p><br />@ViewBag.isNull</p>
                        </div>
                        </div>
             <div class="col-xs-3"></div>
                <div class="col-xs-4">
                    <table id="datum_search">
                        <tr>
                            <td colspan="3"><label>@Resources.Global.FilmOverView_Searchondate:</label></td>
                        </tr>
                        <tr>
                            <form method="post" action="@Url.Action("GetFilteredFilms", "Filter")">
                            <td>@Resources.Global.FilmOverView_DateString:</td>
                            <td>
                                <select name="searchDay">
                                    <option value="@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(0))">@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(0))</option>
                                    <option value="@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(1))">@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(1))</option>
                                    <option value="@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(2))">@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(2))</option>
                                    <option value="@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(3))">@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(3))</option>
                                    <option value="@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(4))">@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(4))</option>
                                    <option value="@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(5))">@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(5))</option>
                                    <option value="@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(6))">@FilmOverviewLogic.dateToString(DateTime.Now.AddDays(6))</option>
                                </select>
                            </td>
                            <td>Tijd:</td>
                            <td>
                                <select name="searchTime">
                                    <option value="13">13:00</option>
                                    <option value="14">14:00</option>
                                    <option value="15">15:00</option>
                                    <option value="16">16:00</option>
                                    <option value="17">17:00</option>
                                    <option value="18">18:00</option>
                                    <option value="19">19:00</option>
                                    <option value="20">20:00</option>
                                    <option value="21">21:00</option>
                                </select>
                            </td>
                            <td><button type="submit" class="btn btn-success">@Resources.Global.FilmOverView_SearchButton</button></td>
                        </tr>                         
                        </form>
                    </table>
                </div>
            </div>
                <div class="row img_row">
                    <div class="col-xs-3">
                        <h3>@Resources.Global.Current_filmWeek:</h3>
                        <ul id="film_list">
                            @foreach (var property in ViewBag.filmList)
                            {
                                <li>
                                    <a id="filmLink" href="@Url.Action("renderFilm", "filmOverview",
                                        new { filmID = property.FilmID })">@property.Name</a>
                                    </li>
                            }
                        </ul>
                    </div>
                    <div class="col-xs-6" id="chooseFilm">
                        @if (ViewBag.currentFilm == null && ViewBag.filmList[0].Trailer != null)
                        {
                            <iframe width="854" height="481" src="@ViewBag.filmList[0].Trailer" frameborder="2" allowfullscreen></iframe>
                                <!--<img src="(((byte[])ViewBag.filmList[0].Image).convertImageByteCode())" />-->
                                    <h2 class="text-right">@ViewBag.filmList[0].Name</h2>
                            }
                            else if (ViewBag.currentFilm == null && ViewBag.filmList[0].Image == null)
                            {
                            <h2>@Resources.Global.FilmOverView_NoImage</h2>
                            }
                            else
                            {
                                <iframe width="813" height="458" src="@ViewBag.currentFilm.Trailer" frameborder="2" allowfullscreen></iframe>
                                <!--<img src="ViewBag.image" />-->
                                    <h2 class="text-right">@ViewBag.currentFilm.Name</h2>
                            }
                            </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="row" id="info_row">
                    <div class="col-xs-4" id="beschrijving_block">
                        <h3>@Resources.Global.FilmOverView_Description</h3>
                        @if (ViewBag.currentFilm == null)
                        {
                            <p>
                                @if (ViewBag.filmList[0].Description != null) {
                                    if (Culture == "nl" || Culture == "nl-NL") {
                                        @ViewBag.filmList[0].Description
                                    }
                                    else {
                                        @ViewBag.filmList[0].DescriptionEN
                                    }
                                } else {
                                    @: Geen informatie beschikbaar
                            }
                            </p>
                        }
                        else
                        {
                            if (ViewBag.currentFilm.Description != null)
                            {
                                <p>
                                    @ViewBag.currentFilm.Description
                                </p>
                            }
                            else
                            {
                                @: Geen informatie beschikbaar
                        }
                        }
                    </div>
                    <div class="col-xs-3" id="info_block">
                        <h3>@Resources.Global.FilmOverView_FilmInfo</h3>
                        @if (ViewBag.currentFilm == null)
                        {
                            <ul>
                                <li>
                                    <label>@Resources.Global.FilmOverView_FilmDuration:</label>
                                    @if (ViewBag.filmList[0].Length != null)
                                    {
                                        @ViewBag.filmList[0].Length
                                    }
                                    else
                                    {
                                        @: Geen informatie beschikbaar
                                    }
                                </li>
                                <li>
                                    <label>Genre:</label>
                                    @if (ViewBag.filmList[0].FilmType != null)
                                    {
                                        @(((int)ViewBag.filmList[0].FilmType).getDutchString())
                                    }
                                    else
                                    {
                                        @: Geen informatie beschikbaar
                                    }
                                </li>
                                <li>
                                    <label>@Resources.Global.FilmOverView_Langague:</label>
                                    @if (ViewBag.filmList[0].Language != null)
                                    {
                                        @ViewBag.filmList[0].Language
                                    }
                                    else
                                    {
                                        @: Geen informatie beschikbaar
                                    }

                                </li>
                                <li>
                                    <label>@Resources.Global.FilmOverView_Subs:</label>
                                    @if (ViewBag.filmList[0].LanguageSubs != null || ViewBag.filmList[0].LanguageSubs != "")
                                    {
                                        @ViewBag.filmList[0].LanguageSubs
                                    }
                                    else
                                    {
                                        @:Geen Ondertiteling
                                    }
                                </li>
                                <li>
                                    <label>3D:</label>
                                    @if (ViewBag.filmList[0].Is3D == true)
                                    {
                                        @Resources.Global.FilmOverView_Film3dYes
                                    }
                                    else
                                    {
                                        @Resources.Global.FilmOverView_Film3dNo
                                    }
                                </li>
                                <li>
                                    <label>@Resources.Global.FilmOverView_Age</label>
                                    @if (ViewBag.filmList[0].Age != null)
                                    {
                                        @ViewBag.filmList[0].Age
                                    }
                                    else
                                    {
                                        @: Geen informatie beschikbaar
                                    }
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul>
                                <li>
                                    <label>@Resources.Global.FilmOverView_FilmDuration:</label>
                                    @if (ViewBag.currentFilm.Length != null)
                                    {
                                        @ViewBag.currentFilm.Length
                                    }
                                    else
                                    {
                                        @: Geen informatie beschikbaar
                                    }
                                </li>
                                <li>
                                    <label>Genre:</label>
                                    @if (ViewBag.currentFilm.FilmType != null)
                                    {
                                        @(((int)@ViewBag.currentFilm.FilmType).getDutchString())
                                    }
                                    else
                                    {
                                        @: Geen informatie beschikbaar
                                    }
                                </li>
                                <li>
                                    <label>@Resources.Global.FilmOverView_Langague:</label>
                                    @if (ViewBag.currentFilm.Language != null)
                                    {
                                        @ViewBag.currentFilm.Language
                                    }
                                    else
                                    {
                                        @: Geen informatie beschikbaar
                                    }
                                </li>
                                <li>
                                    <label>@Resources.Global.FilmOverView_Subs:</label>
                                    @if (ViewBag.currentFilm.LanguageSubs == "")
                                    {
                                        @ViewBag.currentFilm.LanguageSubs
                                    }
                                    else
                                    {
                                        @: Geen ondertiteling
                                    }
                                </li>
                                <li>
                                    <label>3D:</label>
                                    @if (ViewBag.currentFilm.Is3D == true)
                                    {
                                        @: Ja
                                    }
                                    else
                                    {
                                        @: Nee
                                    }
                                </li>
                                <li>
                                    <label>@Resources.Global.FilmOverView_Age</label>
                                    @if (ViewBag.currentFilm.Age != null)
                                    {
                                        @ViewBag.currentFilm.Age
                                    }
                                    else
                                    {
                                        @: Geen informatie beschikbaar
                                    }
                                </li>
                            </ul>
                        }
                    </div>
                    <div class="col-xs-5" id="time_block">
                        <h3>@Resources.Global.FilmOverView_OrderTickets</h3>
                        @if (ViewBag.datetime != null)
                        {
                            foreach (DateTimeAndID property in ViewBag.datetime)
                            {
                                if (property == null)
                                {
                                    <h4>Deze film draait komende week niet in onze bioscoop</h4>
                                }
                                else
                                {
                                    <!--<a href="location.href='Url.Action("SelectShowing", "FilmOverview", new { index = property.index})'">property.str</a>-->
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("SelectShowing", "FilmOverview", new { index = property.index})'">@property.str</button>
                                    <br /><br />
                                }
                            }

                        }
                        else if (ViewBag.currentFilm != null && ViewBag.datetime == "")
                        {
                            <h4>
                                Geen informatie beschikbaar,
                                Vraag bij de balie voor meer informatie over deze film
                            </h4>
                        }
                        else if (ViewBag.currentFilm == null)
                        {
                            foreach (DateTimeAndID property in ViewBag.firstDateTime)
                            {

                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("SelectShowing", "FilmOverview", new { index = property.index})'">@property.str</button>
                                <br />
                                <br />
                            }
                        }
                        else
                        {
                            <h4>
                                Geen informatie beschikbaar,
                                Vraag bij de balie voor meer informatie over deze film
                            </h4>
                        }
                    </div>
                    </div>
            </div>
</body>
</html>


