@using Cinema.IVH7B4.WebUI.Models
@model CinemaViewModel

@{
    ViewBag.Title = "RateOverview";
}

<html>
<head>
    @Html.Partial("~/Views/Shared/_Menubar.cshtml")
    @Html.Partial("~/Views/Shared/_FilmImgTitle.cshtml")
</head>
<body>
    <div class="row row_padding">
        <div class="col-xs-8">
            
            <h1 class="reset_outline"><u>Kaartjes</u></h1>
            <!--reset all-->
            <button type="button" onclick="location.href='@Url.Action("ResetQuantity","Rate")'">Reset All</button>

            <!--Normal ticket-->
            <h2>
                <label class="label_outline">Normaal tarief: €@Model.NormalTicketOrder.GetPrice()</label>

                Aantal: @Model.NormalTicketOrder.Quantity

                <button type="button"
                        onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new {
                        newQuantity = Model.NormalTicketOrder.Quantity - 1, tt = Model.NormalTicketOrder.GetTicketType()})'">
                    -
                </button>

                <button type="button"
                        onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new {
                        newQuantity = Model.NormalTicketOrder.Quantity + 1, tt = Model.NormalTicketOrder.GetTicketType()})'">
                    +
                </button>
            </h2>
            <!--Child ticket-->
            <h2>
                <label class="label_outline">Kind(t/m 11 jaar) tarief: €@Model.ChildTicketOrder.GetPrice()</label>

                Aantal: @Model.ChildTicketOrder.Quantity

                <button type="button"
                        onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new {
                        newQuantity = Model.ChildTicketOrder.Quantity - 1, tt = Model.ChildTicketOrder.GetTicketType()})'">
                    -
                </button>

                <button type="button"
                        onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new {
                        newQuantity = Model.ChildTicketOrder.Quantity + 1, tt = Model.ChildTicketOrder.GetTicketType()})'">
                    +
                </button>
            </h2>
            <!--Student ticket-->
            <h2>
                <label class="label_outline">Student tarief: €@Model.StudentTicketOrder.GetPrice()</label>

                Aantal: @Model.StudentTicketOrder.Quantity

                <button type="button"
                        onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new {
                        newQuantity = Model.StudentTicketOrder.Quantity - 1, tt = Model.StudentTicketOrder.GetTicketType()})'">
                    -
                </button>

                <button type="button"
                        onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new {
                        newQuantity = Model.StudentTicketOrder.Quantity + 1, tt = Model.StudentTicketOrder.GetTicketType()})'">
                    +
                </button>
            </h2>
            <!--65+ ticket-->
            <h2>
                <label class="label_outline">65+ tarief: €@Model.SeniorTicketOrder.GetPrice()</label>

                Aantal: @Model.SeniorTicketOrder.Quantity

                <button type="button"
                        onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new {
                        newQuantity = Model.SeniorTicketOrder.Quantity - 1, tt = Model.SeniorTicketOrder.GetTicketType()})'">
                    -
                </button>

                <button type="button"
                        onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new {
                        newQuantity = Model.SeniorTicketOrder.Quantity + 1, tt = Model.SeniorTicketOrder.GetTicketType()})'">
                    +
                </button>
            </h2>
        </div>
        @Html.Partial("~/Views/Shared/_OrderSummary.cshtml")
    </div>

    <div class="row row_padding">
        <div class="col-xs-1">
            <a href="/" class="btn btn-success">< Terug</a>
        </div>
        <div class="col-xs-10"></div>
        <div class="col-xs-1 text-right">
            <a href="/Summary/SummaryView" class="btn btn-success"> Verder ></a>
        </div>
    </div>
</body>
</html>


