@using Cinema.IVH7B4.WebUI.Models
@model CinemaViewModel

@{
    ViewBag.Title = "RateOverview";
}

<html>
<head>
    @Html.Partial("~/Views/Shared/_Menubar.cshtml")
</head>
<body>
    <div class="container">
        <div class="row row_padding">
            @Html.Partial("~/Views/Shared/_FilmImgTitle.cshtml")
            <div class="col-xs-6" style="padding-bottom:20px;">

                <p>Datum: @Model.SelectedShowing.BeginDateTime.ToString("dddd d MMMM yyyy")</p>
                <p>Begintijd: @Model.SelectedShowing.BeginDateTime.ToString("HH:mm")</p>
                <p>Eindtijd: @Model.SelectedShowing.EndDateTime.ToString("HH:mm")</p>
                <p>Showing ID: @Model.SelectedShowing.ShowingID</p>
                <p>Aantal vrije stoelen: @Model.TotalFreeSeats()</p>
                <p class="clr_red">@ViewBag.seatError</p>

                <h2 class="reset_outline"><u>Kaartjes</u></h2>
                <!--reset all-->
                <button type="button" onclick="location.href='@Url.Action("ResetQuantity","Rate")'">Reset All</button>

                <!--Normal ticket-->
                @if (!Model.SelectedShowing.IsLadiesNight)
                {
                <h4>
                    <label class="label_outline">Normaal tarief: €@Model.NormalTicketOrder.GetPrice()</label>

                    Aantal: @Model.NormalTicketOrder.Quantity

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.NormalTicketOrder.Quantity - 1,
                                                   tt = Model.NormalTicketOrder.GetTicketType()
                                               })'">
                        -
                    </button>

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.NormalTicketOrder.Quantity + 1,
                                                   tt = Model.NormalTicketOrder.GetTicketType()
                                               })'">
                        +
                    </button>
                </h4>
                }
                <!--Child ticket-->
                @if (!Model.SelectedShowing.IsLadiesNight)
                {
                    if (Model.IsChildTicketSamePriceAsNormalTicket() != true)
                    {
                    <h4>
                        <label class="label_outline">Kind(t/m 11 jaar) tarief: €@Model.ChildTicketOrder.GetPrice()</label>

                        Aantal: @Model.ChildTicketOrder.Quantity

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.ChildTicketOrder.Quantity - 1,
                                                       tt = Model.ChildTicketOrder.GetTicketType()
                                                   })'">
                            -
                        </button>

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.ChildTicketOrder.Quantity + 1,
                                                       tt = Model.ChildTicketOrder.GetTicketType()
                                                   })'">
                            +
                        </button>
                    </h4>
                    }
                }
                <!--Student ticket-->
                @if (!Model.SelectedShowing.IsLadiesNight)
                {
                    if (Model.IsStudentTicketValid(Model.SelectedShowing.BeginDateTime))
                    {
                    <h4>
                        <label class="label_outline">Student tarief: €@Model.StudentTicketOrder.GetPrice()</label>

                        Aantal: @Model.StudentTicketOrder.Quantity

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.StudentTicketOrder.Quantity - 1,
                                                       tt = Model.StudentTicketOrder.GetTicketType()
                                                   })'">
                            -
                        </button>

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.StudentTicketOrder.Quantity + 1,
                                                       tt = Model.StudentTicketOrder.GetTicketType()
                                                   })'">
                            +
                        </button>
                    </h4>
                    }
                }
                <!--65+ ticket-->
                @if (!Model.SelectedShowing.IsLadiesNight)
                {
                    if (Model.IsSeniorTicketValid(Model.SelectedShowing.BeginDateTime))
                    {
                    <h4>
                        <label class="label_outline">65+ tarief: €@Model.SeniorTicketOrder.GetPrice()</label>

                        Aantal: @Model.SeniorTicketOrder.Quantity

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.SeniorTicketOrder.Quantity - 1,
                                                       tt = Model.SeniorTicketOrder.GetTicketType()
                                                   })'">
                            -
                        </button>

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.SeniorTicketOrder.Quantity + 1,
                                                       tt = Model.SeniorTicketOrder.GetTicketType()
                                                   })'">
                            +
                        </button>
                    </h4>
                    }
                }
                <!--popcorn ticket-->
                @if (!Model.SelectedShowing.IsLadiesNight)
                {
                <h4 style="border-top:1px solid black;">
                    <br />
                    <label class="label_outline">Popcorn arrangement: €@Model.PopcornTicketOrder.GetPrice()</label>
                    
                    Aantal: @Model.PopcornTicketOrder.Quantity

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.PopcornTicketOrder.Quantity - 1,
                                                   tt = Model.PopcornTicketOrder.GetTicketType()
                                               })'">
                        -
                    </button>

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.PopcornTicketOrder.Quantity + 1,
                                                   tt = Model.PopcornTicketOrder.GetTicketType()
                                               })'">
                        +
                    </button>
                    <small><br />Bevat een kaartje, een medium popcorn en een medium frisdrank naar keuze.</small>
                </h4>
                }
                <!--Ladies Night-->
                @if (Model.SelectedShowing.IsLadiesNight)
                {
                <h4 style="border-top:1px solid black;">
                    <br />
                    <label class="label_outline">Ladies night arrangement: €@Model.LadiesTicketOrder.GetPrice()</label>

                    Aantal: @Model.LadiesTicketOrder.Quantity

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.LadiesTicketOrder.Quantity - 1,
                                                   tt = Model.LadiesTicketOrder.GetTicketType()
                                               })'">
                        -
                    </button>

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.LadiesTicketOrder.Quantity + 1,
                                                   tt = Model.LadiesTicketOrder.GetTicketType()
                                               })'">
                        +
                    </button>
                    <small><br />Bevat een kaartje, een kleine popcorn en een kleine frisdrank naar keuze.
                    De activiteiten beginnen een uur vóór aanvang van de film. Hierbij krijgt U nog een glaasje bubbels, een hapje, 
                    een mooie goodiebag en maakt U tevens kans op spectaculaire prijzen.
                    </small>
                </h4>
                }
            </div>
            <div>
            @Html.Partial("~/Views/Shared/_OrderSummary.cshtml")
          
        </div>

        <div class="row button_padding">
            <div class="col-xs-11"></div>
            <div class="col-xs-1 text-right">
                <a href="/Summary/SummaryView" class="btn btn-success"> Verder ></a>
            </div>
        </div>       
    </div>
</div>
</body>
</html>


