@using Cinema.IVH7B4.WebUI.Models
@model CinemaViewModel

@{
    ViewBag.Title = "RateOverview";
}

<html>
<head>
    @Html.Partial("~/Views/Shared/_Menubar.cshtml")
</head>
<body>
    <div class="container">
        <div class="row row_padding">
            @Html.Partial("~/Views/Shared/_FilmImgTitle.cshtml")
            <div class="col-xs-6" style="padding-bottom:20px;">

                <p>@Resources.Global.FilmOverView_DateString: @Model.SelectedShowing.BeginDateTime.ToString("dddd d MMMM yyyy")</p>
                <p>@Resources.Global.FilmOverView_FilmBeginTime: @Model.SelectedShowing.BeginDateTime.ToString("HH:mm")</p>
                <p>@Resources.Global.FilmOverView_FilmEndTime: @Model.SelectedShowing.EndDateTime.ToString("HH:mm")</p>
                <p>@Resources.Global.RateOverView_NumberOfFreeSeats: @Model.TotalFreeSeats()</p>
                <p class="clr_red">@ViewBag.seatError</p>

                <h2 class="reset_outline"><u>@Resources.Global.RateOverView_Tickets</u></h2>
                <!--reset all-->
                <button type="button" onclick="location.href='@Url.Action("ResetQuantity","Rate")'"><!--vertaling voor dennis-->Reset Aantal</button>

                <!--Normal ticket-->
                @if (!Model.SelectedShowing.IsLadiesNight)
                {
                <h4>
                    <label class="label_outline">@Resources.Global.RateOverView_NormalPrice: €@Model.NormalTicketOrder.GetPrice()</label>

                    @Resources.Global.RateOverView_Quantity: @Model.NormalTicketOrder.Quantity

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.NormalTicketOrder.Quantity - 1,
                                                   tt = Model.NormalTicketOrder.GetTicketType()
                                               })'">
                        -
                    </button>

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.NormalTicketOrder.Quantity + 1,
                                                   tt = Model.NormalTicketOrder.GetTicketType()
                                               })'">
                        +
                    </button>
                </h4>
                }
                <!--Child ticket-->
                @if (!Model.SelectedShowing.IsLadiesNight)
                {
                    if (Model.IsChildTicketSamePriceAsNormalTicket() != true)
                    {
                    <h4>
                        <label class="label_outline">@Resources.Global.RateOverView_ChildPrice: €@Model.ChildTicketOrder.GetPrice()</label>

                        @Resources.Global.RateOverView_Quantity: @Model.ChildTicketOrder.Quantity

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.ChildTicketOrder.Quantity - 1,
                                                       tt = Model.ChildTicketOrder.GetTicketType()
                                                   })'">
                            -
                        </button>

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.ChildTicketOrder.Quantity + 1,
                                                       tt = Model.ChildTicketOrder.GetTicketType()
                                                   })'">
                            +
                        </button>
                    </h4>
                    }
                }
                <!--Student ticket-->
                @if (!Model.SelectedShowing.IsLadiesNight)
                {
                    if (Model.IsStudentTicketValid(Model.SelectedShowing.BeginDateTime))
                    {
                    <h4>
                        <label class="label_outline">@Resources.Global.RateOverView_StudentPrice: €@Model.StudentTicketOrder.GetPrice()</label>

                        @Resources.Global.RateOverView_Quantity: @Model.StudentTicketOrder.Quantity

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.StudentTicketOrder.Quantity - 1,
                                                       tt = Model.StudentTicketOrder.GetTicketType()
                                                   })'">
                            -
                        </button>

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.StudentTicketOrder.Quantity + 1,
                                                       tt = Model.StudentTicketOrder.GetTicketType()
                                                   })'">
                            +
                        </button>
                    </h4>
                    }
                }
                <!--65+ ticket-->
                @if (!Model.SelectedShowing.IsLadiesNight)
                {
                    if (Model.IsSeniorTicketValid(Model.SelectedShowing.BeginDateTime))
                    {
                    <h4>
                        <label class="label_outline">@Resources.Global.RateOverView_65Price: €@Model.SeniorTicketOrder.GetPrice()</label>

                        @Resources.Global.RateOverView_Quantity: @Model.SeniorTicketOrder.Quantity

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.SeniorTicketOrder.Quantity - 1,
                                                       tt = Model.SeniorTicketOrder.GetTicketType()
                                                   })'">
                            -
                        </button>

                        <button type="button"
                                onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                                   {
                                                       newQuantity = Model.SeniorTicketOrder.Quantity + 1,
                                                       tt = Model.SeniorTicketOrder.GetTicketType()
                                                   })'">
                            +
                        </button>
                    </h4>
                    }
                }
                <!--popcorn ticket-->
                @if (!Model.SelectedShowing.IsLadiesNight)
                {
                <h4 style="border-top:1px solid black;">
                    <br />
                    <label class="label_outline">Popcorn @Resources.Global.Arrangement: €@Model.PopcornTicketOrder.GetPrice()</label>
                    
                    @Resources.Global.RateOverView_Quantity: @Model.PopcornTicketOrder.Quantity

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.PopcornTicketOrder.Quantity - 1,
                                                   tt = Model.PopcornTicketOrder.GetTicketType()
                                               })'">
                        -
                    </button>

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.PopcornTicketOrder.Quantity + 1,
                                                   tt = Model.PopcornTicketOrder.GetTicketType()
                                               })'">
                        +
                    </button>
                    <small><br />@Resources.Global.PopCornText</small>
                </h4>
                }
                <!--Ladies Night-->
                @if (Model.SelectedShowing.IsLadiesNight)
                {
                <h4 style="border-top:1px solid black;">
                    <br />
                    <label class="label_outline">Ladies night @Resources.Global.Arrangement: €@Model.LadiesTicketOrder.GetPrice()</label>

                    @Resources.Global.RateOverView_Quantity: @Model.LadiesTicketOrder.Quantity

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.LadiesTicketOrder.Quantity - 1,
                                                   tt = Model.LadiesTicketOrder.GetTicketType()
                                               })'">
                        -
                    </button>

                    <button type="button"
                            onclick="location.href='@Url.Action("AdjustQuantity", "Rate", new
                                               {
                                                   newQuantity = Model.LadiesTicketOrder.Quantity + 1,
                                                   tt = Model.LadiesTicketOrder.GetTicketType()
                                               })'">
                        +
                    </button>
                    <small><br />@Resources.Global.LadiesNightText
                    </small>
                </h4>
                }
            </div>
            <div>
            @Html.Partial("~/Views/Shared/_OrderSummary.cshtml")
          
        </div>

        <div class="row button_padding">
            <div class="col-xs-11"></div>
            <div class="col-xs-1 text-right">
                <a href='@Url.Action("SummaryView", "Summary")' , class="btn btn-success"> @Resources.Global.RateOverView_Next></a>
            </div>
        </div>       
    </div>
</div>
</body>
</html>


