@using Cinema.IVH7B4.WebUI.Models
@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel
@{
    ViewBag.Title = "Betaling";
}
<html>
<body>
    <div class="container">
        <div>
            <h2 align="center">Betaal Informatie</h2>
        </div>
        <div class="col-md-offset-3 col-md-6 col-md-offset-3" style="padding: 20px; border: solid medium black;">
            <table>
                <tbody>
                    <tr><td>Film: @Model.SelectedFilm.Name</td></tr>
                    <tr><td>Aan: Cinema IHV7B4</td></tr>
                    <tr><td>Totaal bedrag: @Model.GetCurrencyString(@Model.GetTotalPriceForAllTickets())</td></tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label>Pincode: </label>
                                @Html.Password("myTextBox", Model.PinValue, new { @readonly = "readonly" })
                        
                            </div>
                        </td>
                    </tr>
                    <tr><td>@Model.WrongPingValue</td></tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-offset-5 col-md-2 col-md-offset-5">
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" onclick="location.href='@Url.Action("PinViewAddchar", "Pin", new { s = "1"})'">1</button>
                        <button type="button" onclick="location.href='@Url.Action("PinViewAddchar", "Pin", new { s = "2"})'">2</button>
                        <button type="button" onclick="location.href='@Url.Action("PinViewAddchar", "Pin", new { s = "3"})'">3</button>
                    </div>
                </div>

                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" onclick="location.href='@Url.Action("PinViewAddchar", "Pin", new { s = "4"})'">4</button>
                        <button type="button" onclick="location.href='@Url.Action("PinViewAddchar", "Pin", new { s = "5"})'">5</button>
                        <button type="button" onclick="location.href='@Url.Action("PinViewAddchar", "Pin", new { s = "6"})'">6</button>
                    </div>
                </div>
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" onclick="location.href='@Url.Action("PinViewAddchar", "Pin", new { s = "7"})'">7</button>
                        <button type="button" onclick="location.href='@Url.Action("PinViewAddchar", "Pin", new { s = "8"})'">8</button>
                        <button type="button" onclick="location.href='@Url.Action("PinViewAddchar", "Pin", new { s = "9"})'">9</button>
                    </div>
                </div>
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" onclick="location.href='@Url.Action("PinViewAddchar", "Pin", new { s = "0"})'">0</button>
                        <button type="button" onclick="location.href='@Url.Action("PinViewRemoveChar", "Pin")'">terug</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <a href="/Summary/SummaryView" class="btn btn-success button_padding"> Transactie afbreken</a>
            </div>
            <div class="col-xs-8"></div>
            <div class="col-xs-2 text-right">
                <button type="button" class="btn btn-success button_padding" onclick="location.href='@Url.Action("ShowTicketView","Ticket")'">Transactie afronden</button>
            </div>
        </div>
    </div>
    </body>
</html>


