@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel
<html>
<head>
    <!-- bootstrap links -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- custom css -->
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <!-- Favicons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>@ViewBag.Title</title>

</head>
<body>
    <header>
        <div class="container-fluid" id="header_container">          
            <div class="row">
                <div class="col-xs-12">
                    @if (Model != null && Model.SelectedLocation != null)
                    {
                        <h1 class="text-center" id="big_title">@Resources.Global.HeaderLocation IVH7B4 @Model.SelectedLocation.Name</h1>
                    }
                    else
                    {
                        <h1 class="text-center" id="big_title">@Resources.Global.HeaderLocation IVH7B4</h1>
                    }
                </div>
            </div>
        </div>
    </header>  
    <div class="pageContentWrapper">
        @RenderBody()
    </div>
    @Html.Partial("~/Views/Shared/_Footer.cshtml")   
</body>

</html>
