<html>
<body>

    <nav class="container">
        <div class="navbar navbar-default">
            <div class="row">
                <div class="col-xs-6">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/Home/Index">Home</a>
                
                        <ul class="nav navbar-nav">
                            <li><a href="#" onclick="location.href='@Url.Action("filmOverview", "FilmOverview")'">Films</a></li>
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Global.NavBar_Theatres <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" onclick="location.href='@Url.Action("SetLocationAndGotoFilmOverview", "Home", new { locationName = "Breda"})'">Breda</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("SetLocationAndGotoFilmOverview", "Home", new { locationName = "Eindhoven"})'">Eindhoven</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("SetLocationAndGotoFilmOverview", "Home", new { locationName = "Tilburg"})'">Tilburg</a></li>
                                </ul>
                            </li>

                            <li><a href="#" onclick="location.href='@Url.Action("Contact", "Contact")'">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/"><img class="flag" alt="Nederlands" src="~/Content/Flag_of_the_Netherlands.png" /></a></li>
                        <li><a href="/en/"><img class="flag" alt="English" src="~/Content/Flag_of_the_United_Kingdom.svg.png" /></a></li>
                    </ul>
                </div>           
            </div>
        </div>
    </nav>

</body>
</html>
