@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel

@{
    ViewBag.Title = "ShowTicketView";
}
@Html.Partial("~/Views/Shared/_Menubar.cshtml")
<html>
<body>
    <div class="container">
        <div>
            <h1 align="center" style="margin-bottom:30px;">@Resources.Global.Ticket_ThanksOrderTitle</h1>
        </div>
        <div class="row">
            <!--Print tickets-->
            <div class="col-sm-offset-2 col-xs-4">        
                <button class ="btn btn-success" id="home_button" type="button" onclick="location.href='@Url.Action("PrintTickets","Ticket")'">@Resources.Global.Ticket_PrintTicket</button>         
            </div>  
            <!--Get ticket code--> 
            <div class="col-xs-4">
                @if (ViewBag.keycode == null)
                {
                    <button class="btn btn-success" id="home_button" type="button" onclick="location.href='@Url.Action("ShowCode","Ticket")'">@Resources.Global.Ticket_PrintCode</button>
                }
                else
                {
                    <p>@Resources.Global.Ticket_YourReservationCode @ViewBag.keycode</p>
                }
                <p class="text-center" style="margin-top:10px;">@Resources.Global.Ticket_ThanksOrderTitle</p>
            </div>     
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                @if (Culture == "nl" || Culture == "nl-NL") {
                    <a href="/" class="btn btn-success" style="margin-top:150px;">@Resources.Global.Ticket_backtoHome</a>
                } else {
                    <a href="en/" class="btn btn-success" style="margin-top:150px;">@Resources.Global.Ticket_backtoHome</a>
                }

            </div>
        </div>
   </div> 
</body>       
</html>
