@model Cinema.IVH7B4.WebUI.Models.CinemaViewModel
@{
    ViewBag.Title = "Contact";
}
<html>
<head>
    @Html.Partial("~/Views/Shared/_Menubar.cshtml")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 style="border-bottom:2px solid black;">@Resources.Global.ContactNewsLetter_Text</h2>
                <div>
                    @using (Html.BeginForm("HandleSubmitForm", "Contact"))
                    {
                        @Html.ValidationSummary(true)

                        <label>@Resources.Global.ContactName</label>
                        <br>
                        @Html.TextBox("Name")
                        <br><br>

                        <label>@Resources.Global.ContactAge</label>
                        <br>
                        @Html.TextBox("Age")
                        <br><br>

                        <label>@Resources.Global.ContactLocation</label>
                        <br>
                        <select class="form-control" id="Location" name="Location" style="max-width:150px;">

                            @if (Model != null && Model.SelectedLocation != null)
                            {
                                <option>@Model.SelectedLocation.Name</option>


                                if (!Model.SelectedLocation.Name.Equals("Breda"))
                                {
                                    <option>Breda</option>
                                }
                                if (!Model.SelectedLocation.Name.Equals("Tilburg"))
                                {
                                    <option>Tilburg</option>
                                }
                                if (!Model.SelectedLocation.Name.Equals("Eindhoven"))
                                {
                                    <option>Eindhoven</option>
                                }
                            }
                            else
                            {
                                <option>Breda</option>
                                <option>Tilburg</option>
                                <option>Eindhoven</option>
                            }
                        </select>
                        <br>

                        <label>@Resources.Global.ContactInterest</label>
                        <br>
                        <div style="display:inline-block">
                            Drama: <input type="checkbox" name="Drama" id="Drama" />
                            @Resources.Global.FilmOverView_Gerne_Action: <input type="checkbox" name="Actie" id="Actie" />
                            @Resources.Global.GenreAdventure: <input type="checkbox" name="Avonturr" id="Avonturr" />
                            Thriller: <input type="checkbox" name="Thriller" id="Thriller" />
                            <br />
                            @Resources.Global.GenreAnimation: <input type="checkbox" name="Animatie" id="Animatie" />
                            Horror: <input type="checkbox" name="Horror" id="Horror" />
                            @Resources.Global.FilmOverView_Gerne_Comedy: <input type="checkbox" name="Komedie" id="Komedie" />
                            @Resources.Global.GenreRomance: <input type="checkbox" name="Romantiek" id="Romantiek" />
                        </div>
                        <br><br>

                        <label>Email</label>
                        <br>
                        @Html.TextBox("Email")
                        <br><br>

                        <input type="submit" value="@Resources.Global.ContactSignUp">
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 style="border-bottom:2px solid black;">Social Media</h2>
                <div>
                    <a href="https://www.facebook.com/PatheBreda/?hc_ref=SEARCH" target="blank">
                        <img border="0" src="https://crunchbase-production-res.cloudinary.com/image/upload/c_limit,h_600,w_600/v1422480063/h0fvargheeyaybm4oyyt.jpg" width="100" height="100">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h2 style="border-bottom: 2px solid black;">@Resources.Global.Contact_Travel_directions</h2>
                <br />
                <a class="btn btn-default" href="#" onclick="location.href='@Url.Action("SetLocationAndReturn", "Contact", new { locationName = "Breda"})'">Breda</a>
                <a class="btn btn-default" href="#" onclick="location.href='@Url.Action("SetLocationAndReturn", "Contact", new { locationName = "Eindhoven"})'">Eindhoven</a>
                <a class="btn btn-default" href="#" onclick="location.href='@Url.Action("SetLocationAndReturn", "Contact", new { locationName = "Tilburg"})'">Tilburg</a>
                <br>
                @if (Model != null && Model.SelectedLocation != null)
                {
                    if (Model.SelectedLocation.Name.Equals("Eindhoven"))
                    {
                        <h4>Eindhoven</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9947.622320237191!2d5.458637338900737!3d51.441527873987965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4277133f7c8e4fe8!2sPath%C3%A9+Eindhoven!5e0!3m2!1sen!2snl!4v1489408388705"
                                width="600" height="450" frameborder="0" style="margin-bottom:20px;" allowfullscreen></iframe>
                    }
                    else if (Model.SelectedLocation.Name.Equals("Tilburg"))
                    {
                        <h4>Tilburg</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19848.549734453707!2d5.065199916456671!3d51.5486389470671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x23ad188e62c0330b!2zUGF0aMOp!5e0!3m2!1sen!2snl!4v1489408302047"
                                width="600" height="450" frameborder="0" style="margin-bottom:20px;" allowfullscreen></iframe>
                    }
                    else if (Model.SelectedLocation.Name.Equals("Breda"))
                    {
                        <h4>Breda</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2478.8269724123566!2d4.782858415519151!3d51.589734479648776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c69f7f704bcddd%3A0x39798afaa1dc4718!2sPath%C3%A9+Breda+Cinema!5e0!3m2!1sen!2snl!4v1489407306579"
                                width="600" height="450" frameborder="0" style="margin-bottom:20px;" allowfullscreen></iframe>
                    }
                }
                else
                {
                    <h4>Breda</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2478.8269724123566!2d4.782858415519151!3d51.589734479648776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c69f7f704bcddd%3A0x39798afaa1dc4718!2sPath%C3%A9+Breda+Cinema!5e0!3m2!1sen!2snl!4v1489407306579"
                            width="600" height="450" frameborder="0" style="margin-bottom:20px;" allowfullscreen></iframe>

                }
            </div>
        </div>
    </div>
</body>
</html>
